body {background-color: #f5f6f7;}
main {
    display: flex; flex-flow: column nowrap;
    align-items: center;
    width: 460px; margin: 0 auto;
}
main #law_frm {}
main #law_frm fieldset {}
main #law_frm fieldset .agree_all {margin-bottom: 30px;}
main #law_frm fieldset .agree_all label {
    font-size: 0.875em; font-weight: 800; text-decoration: underline; line-height: 1.5;
}
main #law_frm fieldset .agree_all label input {}
main #law_frm fieldset .raw {}
/* 전체선택자 */
h2 {margin-bottom: 20px;}
h2 span {
    font-weight: 700;
}
h3 {
    font-size: 0.813rem; font-weight: 700;
    margin-bottom: 10px;
}
.contents {
    padding: 10px;
    width: 460px; height: 100px;
    overflow-y:scroll;
    border: 1px solid #aaa;
    background-color: #fff;
    margin-bottom: 20px;
}
.contents p {
    font-size: 0.750rem;
    line-height: 1.5;
}
/* 1,3 */
main #law_frm fieldset .raw h2 {}
main #law_frm fieldset .raw h2 input {}
main #law_frm fieldset .raw h2 > span {}
main #law_frm fieldset .raw h2 > span span {color: #08a600;}
main #law_frm fieldset .raw h2 > span .non_essential {color: #aaa;}
main #law_frm fieldset .raw .contents {}
main #law_frm fieldset .raw .contents h3 {}
main #law_frm fieldset .raw .contents p {}
/* 2 */
main #law_frm fieldset .raw .raw_title {
    display: flex; justify-content: space-between;
    align-items: center;
}
main #law_frm fieldset .raw .raw_title .kids {
    padding: 7px 10px; 
    border: 1px solid #08a600; background-color: #fff;
    font-size: 0.75rem; color: #08a600;
}
main #law_frm fieldset .raw .raw_title h2 {}
main #law_frm fieldset .raw .raw_title h2 input {}
main #law_frm fieldset .raw .raw_title h2 > span {}
main #law_frm fieldset .raw .raw_title h2 > span span {color: #08a600;}
/* 취소, 동의 버튼 */
main #law_frm fieldset .raw_btn {
}
main #law_frm fieldset .raw_btn button {
    width: 49%; padding: 20px 0; 
}
main #law_frm fieldset .raw_btn .reset_btn {
    background-color: #08a600; color: #fff;
}
main #law_frm fieldset .raw_btn .submit_btn {
    background-color: #8e8e8e; 
}
main #law_frm fieldset .raw_btn .submit_btn a {
    color: #fff;
}
/* 단체가입 */
main .group_join {padding: 20px 0; }
main .group_join span {font-size: 0.75rem;}
main .group_join a {font-size: 0.75rem;}

