html,body,* {box-sizing: border-box;}
/* * = 모두 */
html,body,h1,h2,h3,h4,h5,h6,
p,em,strong,a,span,sup,sub,del,q,blockquote,code,
ul,ol,li,dl,dt,dd,
table,tr,td,th,thead,tbody,tfoot,
form,fieldset,legend,input,select,option,button,label,textarea,
header,main,footer,nav,section,article,figure,figcaption,aside,
address,details,mark,time,img,summary,iframe,div {
    margin: 0; padding: 0;
    /* font-size:1.0rem == 100% ==16px */
    /* 웹사이트 글자크기가 16px일 경우 reset에서 이미 초기값 설정을 했으므로 추가 설정할 필요가 없다. */
    font-size: 1.0rem; font-style: normal; font-weight: normal;
    line-height: 1.2; 
    /* 웹사이트 본문 80~90% 이상 동일한 글자색은 reset에서 처리한다. */
    color: #000000;
    text-decoration: none;
    letter-spacing: -0.4px;
    font-family: 'Nanum Gothic', sans-serif;
}
/* 목록 태그의 스타일 지우기 */
ul,ol,li {list-style: none;}
/* 버튼에 올렸을 때 커서를 포인터(손가락 모양)로 바꾸기 */
button {cursor: pointer; background: none; border: 0;}
/* 보더의 이중 테두리를 한줄로 나오게 함 */
table,tr,td,th {border-collapse: collapse;}
fieldset {border:0;}
input, select, option {background: none; border: 0;}
/* HTML에서 의미적으로 존재하나 CSS디자인상에선 숨겨야 하는 요소에 사용 ex) label,legend */
.skip {display: none;}
/* font-awesome unicode 전용 class */
.fa {font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands'; font-weight: 600;}